<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src="/javascript/jquery.min.js"></script>
</head>
<body>

<a href="/auth/github">Login Using Github</a>

{{{body}}}

</body>
</html>
