<table>
  <tr>
    <th>Name</th>
    <th>Created At</th>
  </tr>
  <tr>
    {{#each users}}
    <td>{{name}}</td>
    <td>{{date "MMM Do, YYYY h:mm a" created_at}}</td>
    {{/each}}
  </tr>
</table>
