body {
    padding-bottom: 40px;
    padding-top: 60px;
}
/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form .instructions {
  float: right;
  font-size: 80%;
}

form div {
  overflow: auto;
}

form fieldset {
  margin: 10px 0;
  border: none;
}

input#starts_at {
  float: right;
  font-size: 120%;
  width: 25%;
}

input#title {
  width: 50%;
  font-size: 150%;
}

textarea#description {
  display: block;
  width: 100%;
  font-size: 110%;
  min-height: 200px;
}
*/